body {
  font-family:'Verdana';
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  margin: 8px;
  width: auto;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.cta {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-style: solid;
  padding: auto;
}

footer {
  text-align: right;
  color: gray;
}
